<h1>Add Category</h1>
<form method="POST" action="/add/category">
    <label for="name">Category Name:</label>
    <input id="name" name="name" type="text">
    <div>
        <label for="description">Description:</label>
        <input id="description" name="description" type="text">
    </div>
    <input type="submit" value="Add New Category">
</form>