<h1>Categories</h1>
{{#each cats}}
    <ul>
        <li><a href="{{this.url}}">{{this.name}}</a>: {{this.description}}</li>
    </ul>
{{/each}}
<form method="GET" action="/add/category">
    <input type="submit" value="Add Category">
</form>