<h1>Items</h1>
{{#each items}}
    <ul>
        <li><a href="{{this.url}}">{{this.name}}</a></li>
    </ul>
{{/each}}
<form method="GET" action="/additem">
    <input type="submit" value="Add Item">
</form>